body {
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 42, 62);

}

.menu {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: rgb(198, 196, 196);


}


.menu ul {
    display: flex;
    list-style: none; 
    justify-content: space-around;
}

.menu ul li a {
    color: white;
    text-decoration: none; 
    padding: 5px 15px;
}

.menu ul li a:hover {
    background-color: #575757; 
    border-radius: 5px;
}






.container_1 {
    background-color: white;
    width: 500px;
    height: 250px;
      margin-left: 140px;
      align-items: center;
      justify-content: center;
display: flex;
}



.container_2 {
    background-color: rgb(232, 232, 170);
    width: 170px;
    height: 150px;
    text-align: center;
}





.item_1 {
     width: 80px;
     height: 80px;
     background-color: white;
     margin-bottom: 300px;
}





